<!DOCTYPE html>
<head>
</head>
<body>
    <h1> Stupid Coach</h1>
  <p>Your question: <%= params[:question] %></p>
  <p>Coach's response: <%= @response %></p>

  <p><%= link_to "Ask another question", ask_path %></p>
</body>
</html>
