$gold: goldenrod;

 body {
   background: $gold; // Using this variable
   margin: 50px 50px;
   text-align: center;
   color: white;
 }

  a {
   color: grey;
   &:hover {
     color: black;
   }
 }
